/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

.homePage {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
  grid-template-areas:
    "filter"
    "articles";
  align-items: stretch;
  justify-items: stretch;
}

.homePage__filterArea {
  grid-area: filter;
}

.homePage__articlesArea {
  grid-area: articles;
  overflow: auto;
}

.filter * {
  background-color: var(--light-accent);
}

.articles {
  width: 90vw;
  /* justify-self: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.articles .topic-header {
  width: 75vw;
  background-color: var(--dark-shade);
  padding: 0.5em 1em 2em 1em;
  margin-bottom: 0.5em;
}

.articles .topic-header * {
  background-color: var(--dark-shade);
  color: var(--light-shade);
}

.topic-header h1 {
  font-size: 1.7rem;
  text-transform: capitalize;
  width: 100%;
  margin-bottom: 0.2em;
}

.topic-header h2 {
  font-size: 1rem;
}

.articles img {
  max-width: 90vw;
  height: auto;
}

.articles a {
  text-decoration: inherit;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 40px;
  border-bottom: 2px var(--light-accent) solid;
}

.loading {
  position: absolute;
  top: 50%;
  right: 50%;
}
@media (min-width: 480px) {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .articles li {
    max-width: 400px;
    min-width: 300px;
    margin-bottom: 100px;
    margin-right: 100px;
  }
  .home-page.layout {
    height: auto;
    margin: 0 5vw;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "filter articles";
  }
  .articles {
    overflow-y: visible;
    overflow-x: hidden;
    width: 100%;
    justify-content: start;
  }
  .article-card .card-img {
    max-width: 100%;
  }
  div.article-card {
    width: 100%;
  }
  .just-articles {
    margin-top: 2rem;
  }
}
