.userPage {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "user"
    "comments";
  margin-top: 20px;
}

.userPage__loading {
  margin: auto;
  font-size: larger;
  font-weight: 600;
}

@media (min-width: 480px) {
  .userPage__loading {
    font-size: x-large;
  }
}
