.navBar {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--main-accent);
  padding: 5px 0;
}

.navBar * {
  background-color: var(--main-accent);
  color: var(--light-shade);
  text-decoration: none;
  font-size: 0.8rem;
}

.navBar__avatar {
  border-radius: 50%;
  max-width: 40px;
}

.navBar__homeSymbol {
  max-width: 36px;
}

@media (min-width: 480px) {
  .navBar {
    background-color: var(--main-accent);
    padding: 0 5vw;
    margin: 0;
    justify-content: flex-start;
  }
  .navBar__avatar {
    background-color: var(--main-accent);
    margin-right: 5px;
  }
  .navBar__filterButton {
    padding: 5px 10px;
    background-color: var(--main-accent);
    border: solid 2px var(--light-shade);
    border-radius: 5%;
    color: var(--light-shade);
    font-weight: 600;
  }
}
