* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app.layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(auto, max-content);
  grid-template-areas:
    "main"
    "nav";
}

.page {
  overflow: auto;
  grid-area: main;
}

.nav-bar {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2px;
  background-color: var(--main-accent);
}

.nav-bar * {
  background-color: var(--light-shade);
}

.nav-bar img.avatar {
  border-radius: 50%;
  max-width: 50px;
  margin: auto;
  display: block;
}

@media (min-width: 480px) {
  .app.layout {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "nav"
      "main";
  }
}
