* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app.layout {
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(auto, max-content);
  grid-template-areas:
    "main"
    "nav";
}
.error-page {
  height: 80vh;
}
.page {
  overflow: auto;
  grid-area: main;
}

.nav-bar {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  background-color: var(--main-accent);
}

.nav-bar * {
  background-color: var(--main-accent);
  color: var(--light-shade);
  text-decoration: none;
  font-size: 0.8rem;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.nav-bar img.avatar {
  border-radius: 50%;
  max-width: 40px;
}

.nav-bar img.home-symbol {
  max-width: 36px;
}

@media (min-width: 480px) {
  /* Currently some styles in filterManager that need to be moved as part of the refactor */
  .nav-link {
    flex-direction: row;
    background-color: var(--main-accent);
    margin-right: 3rem;
    padding: 0 0.5rem;
  }
  .nav-link * {
    font-size: large;
    font-weight: 600;
    background-color: var(--main-accent);
    color: var(--light-shade);
  }
  a.nav-link.active {
    /* border-bottom: solid 3px var(--main-accent); */
    background-color: #0027ff;
  }
  a.nav-link.active * {
    background-color: #0027ff;
    color: var(--light-shade);
  }

  .nav-link img.avatar {
    background-color: var(--main-accent);
    margin-right: 5px;
  }
  .nav-bar {
    background-color: var(--main-accent);
    padding: 0 5vw;
    margin: 0;
    justify-content: flex-start;
    /* filter: brightness(90%); */
    /* box-shadow: inset 0px -10px 10px -10px var(--main-accent); */
  }
  .nav-bar button {
    padding: 5px 10px;
    background-color: var(--main-accent);
    border: solid 2px var(--light-shade);
    border-radius: 5%;
    color: var(--light-shade);
    font-weight: 600;
  }
  .home-page.page {
    overflow: hidden;
  }
}
