:root {
  --light-shade: #faf6f4;
  --light-accent: #46abcc;
  --main-accent: #00168f;
  --dark-accent: #9a5562;
  --dark-shade: #16141c;
}

* {
  font-family: Arial;
  background-color: var(--light-shade);
  color: var(--dark-shade);
}

html {
  height: -webkit-fill-available;
}

body {
  height: -webkit-fill-available;
}
